@media only screen and (max-width: 1200px) {

    .section-wrapper {
        width: 70%;
    }

    .footer-icons {
        width: 60%;
    }

    .navbar-center{
        width: 50%;
    }

}


@media only screen and (max-width: 900px) {
    .skillset-example, .project-example{
        width: 50%;
    }
}



@media only screen and (max-width: 767px) {

    .footer-icons {
        width: 80%;
    }

    .contact-details, .message-form, #name, #email {
        width: 100%;
    }

    .section-container {
        padding: 60px 0 60px 0;
    }

    .hover-jump {
        width: 100%;
        margin-bottom: 15px
    }

    .splash {
        width: 300px;
    }

    .pageheader {
        font-size: 60px;
    }

    .splash-container {
        padding: 50px 0 100px 0;
        height: 300px;
    }

    .navbar {
        padding-bottom: 20px
    }

}

@media only screen and (max-width: 530px) {

    .skillset-example{
        width: 100%;
    }

    .project-example {
        width: 100%;
        margin-bottom: 30px;
    }

    .resume-button {
        font-size: 14px;
    }

    .section-wrapper {
        width: 90%;
    }



}
